@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600;700&display=swap");

@import "tailwindcss";

html,
body {
    /* overflow-x: hidden; */
}

body {
    background: #000;
}

.font-sixcaps {
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
}

.font-anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
}